<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>Smileguy</title>
    </head>
    <body>
        <font face="Comic Sans MS">
            <h1 style="text-align: center;">Smileguy is currently online.</h1>
        </font>
        <font face="Consolas">
            <p style="text-align: center;"><a href="https://discordapp.com/api/oauth2/authorize?client_id=613249451355799552&amp;permissions=2048&amp;scope=bot" target="_blank" rel="noopener">click here to add smileguy to your server.</a></p>
        </font>
    </body>
</html>